* {
    font-family: 'Old Standard TT', serif;
}

#todos ul {
    list-style-type: none;
}

#todos li {
    text-align: left;
    display: inline;
    cursor:pointer;
}

#todos li button {
    float: right;
}

.done {
    text-decoration: line-through;
}

{
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;

}